body{
    padding: 0;
    margin: 0;
}

.app-wrapper{
    display: flex;
    justify-content: space-between;
    background-image: url(./assets/home.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.ancients-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    position: relative;
}

.ancient-item{
    width: 200px;
    height: 260px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    margin-bottom: 20px;
    border: goldenrod 2px solid;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.ancient-item:hover{
   transform: scale(1.1);
   border: red 2px solid;
   cursor: pointer;
}

.choose-ancient{
    position: absolute;
    top:-50px;
    left:50%;
    transform: translateX(-50%);
    color: goldenrod;
    font-size: 32px;
    text-decoration: underline;
}

.choose-level{
    top:-80px;
    font-size: 26px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    color: goldenrod;
    text-decoration: underline;
}

.ancient-item-active{
    border: red 2px solid;
    transform: scale(1.05);
}

.ancient-first{
    background-image: url(./assets/Ancients/Azathoth.png);
}

.ancient-second{
    background-image: url(./assets/Ancients/Cthulthu.png);
}

.ancient-third{
    background-image: url(./assets/Ancients/IogSothoth.png);
}

.ancient-fourth{
    background-image: url(./assets/Ancients/ShubNiggurath.png);
}

.dificulty-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.dificulty-container-inner{
    margin-top: auto;
    margin-bottom: auto;
    max-height: 300px;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: all 0.15s ease-out;
}

.level-item{
    height: 20px;
    width: 80px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: goldenrod;
    border: goldenrod 2px solid;
    text-align: center;
    transition: all 0.5s;
    background-color: rgba(233, 184, 25, 0.2);
    border-radius: 3px;
}

.level-item:hover, .button-mix-deck:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: green;
}

.level-item-active{
    background-color: green;
    transform: scaleX(1.1);
}

.deck-container{
    display: flex;
    justify-content: space-between;
}

.deck-container-inner{
    margin-bottom: auto;
    margin-right: 20px;
    margin-top: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.15s ease-out;
}

.stage-item{
    margin-bottom: 5px;
}

.stage-title{
    text-align: center;
    font-size: 20px;
    color: blueviolet;
    margin-bottom: 3px;
}

.stage-set{
    display: flex;
}

.set{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: blue;
    margin-right: 20px;
    border: goldenrod 2px solid;
    color: rgb(130, 226, 230);
    font-weight: 800;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    background-color: green;
}

.brown{
    background-color: rgb(193, 167, 19);
}

.blue{
    background-color: blue;
    margin-right: 0;
}

.button-mix-deck{
    height: 30px;
    width: 100px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: goldenrod;
    border: goldenrod 2px solid;
    text-align: center;
    transition: all 0.5s;
    vertical-align: middle;
    padding-top: 5px;
    background-color: rgba(233, 184, 25, 0.2);
    margin-top: 20px;
}

.deck, .card{
    background-image: url(./assets/mythicCardBackground.png);
    height: 190px;
    width: 130px;
    margin-top: 10px;
    border: goldenrod 2px solid;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.deck:hover{
    border: red 2px solid;
    cursor: pointer;
 }

.deck:active{
    border: red 2px solid;
    box-shadow: 0px 5px 0px  rgba(225, 24, 24, 0.2);
    transform: translatey(5px);
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.card{
    display: none;
}

.active{
    display: block;
}

.stage-active{
    color: red;
}

.visible{
    visibility: visible;
    opacity: 1;
}